<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>商品管理</title>
    <meta name="description" content="卖家管理系统">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled-2.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="index">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Anonyshop</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index"><i class="fas fa-tachometer-alt"></i><span>首页</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link d-lg-flex align-items-lg-center" href="profile"><i class="fas fa-user"></i><span>个人信息</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="prodmanage"><i class="material-icons">class</i><span>商品管理</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="order"><i class="fas fa-tasks"></i><span>订单管理</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="delivery"><i class="fas fa-luggage-cart"></i><span>物流管理</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="message"><i class="material-icons">message</i><span>消息管理</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="salesupport"><i class="material-icons">live_help</i><span>售后管理</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="搜索 ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <h6 class="dropdown-header">通知</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>赵铁住已收货!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>丁仪已下单，请尽快发货!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>汪淼发来了售后申请</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <h6 class="dropdown-header">消息</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="message">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="message">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="message">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="message">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation" href="profile.html"><a class="nav-link" href="profile"><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"><span class="d-none d-lg-inline mr-2 text-gray-600 small">&nbsp;苏小宝</span></a></li>
                            <li class="nav-item dropdown no-arrow"
                                role="presentation" href="profile.html"><a class="nav-link" href="logout" style="padding: 0px 3px 0px 3px;"><span class="d-none d-lg-inline mr-2 text-gray-600 small">注销</span></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid d-inline-block">
                    <h3 class="text-dark mb-4">平台属性和SPU管理</h3>
                    <div class="card shadow mb-3" id="catalogDiv">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">分类设置</p>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-row" style="margin: 30px 0px;">
                                    <div class="col d-lg-flex justify-content-lg-start align-items-lg-center">
                                        <div class="form-group d-lg-flex align-items-lg-center"><label class="text-center d-lg-flex" for="一级分类" style="margin: 4px;"><strong>一级分类：</strong></label><select class="border rounded form-control" id="catalog1" style="width: 150px;" isnull="true"></select></div>
                                    </div>
                                    <div class="col d-lg-flex justify-content-lg-start align-items-lg-center">
                                        <div class="form-group d-lg-flex align-items-lg-center"><label for="二级分类" style="margin: 4px;"><strong>二级分类：</strong><br></label><select class="form-control" id="catalog2" style="width: 150px;"></select></div>
                                    </div>
                                    <div class="col d-lg-flex justify-content-lg-start align-items-lg-center">
                                        <div class="form-group d-lg-flex align-items-lg-center"><label for="三级分类" style="margin: 4px;"><strong>三级分类：</strong></label><select class="form-control" id="catalog3" style="width: 150px;"></select></div>
                                    </div>
                                </div>
                            </form>
                            <div class="row" style="margin: 30px 0px;">
                                <div class="col"><button class="btn btn-info" id="baseAttrManage" type="button" disabled="true">平台属性管理</button><button class="btn btn-info" id="spuManage" type="button" style="margin: 0px 0px 0px 30px;">SPU管理</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow" id="addAttrDiv" style="/*margin: 20px 0px;*/">
                        <div class="card-body">
                            <h4 class="card-title">添加平台属性</h4>
                            <form action="/addAttrInfo" method="post">
                                <div class="form-group"><input class="form-control" type="text" id="inputAttrName" name="attrName" placeholder="属性名称..."></div>
                                <div class="form-group"><input class="form-control" type="text" id="inputAttrValue" name="attrValues" placeholder="属性值(用空格隔开)..."></div>
                                <div class="form-group"><button class="btn btn-primary" id="addAttrBtn" type="button">添加</button></div>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow" id="showAttrDiv" style="margin: 20px 0px;">
                        <div class="card-body">
                            <h4 class="card-title">修改/删除平台属性</h4>
                            <div class="table-responsive" style="margin: 10px 6px;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="padding: 6px;width: 10%;">序号</th>
                                            <th style="padding: 6px;width: 10%;">属性id</th>
                                            <th style="padding: 6px;width: 20%;">属性名称</th>
                                            <th style="padding: 6px;">属性值</th>
                                            <th style="padding: 6px;width: 15%;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="attrList"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow" id="addSpuDiv" style="margin: 20px 0px;">
                        <div class="card-body">
                            <div id="from-addspu">
                                <h4>添加SPU</h4>
                                <form>
                                    <div class="form-group"><input class="form-control" type="text" id="in-productName" name="productName" placeholder="SPU名称"></div>
                                    <div class="form-group"><textarea class="form-control" id="in-description" name="description" placeholder="SPU描述"></textarea></div>
                                </form>
                                <form id="form-spuUploadImg" action="http://seller.anonyshop.tech/spu/imgUpload" enctype="multipart/form-data">
                                    <div class="form-group"><label>添加图片</label><input type="file" id="in-spuImg" class="form-control" accept="image/*" name="imgName" style="padding: 3px 4px;"></div>
                                    <div id="spuPicPreview" style="margin: 0px 0px 25px 0px;height: 100px;"></div>
                                </form>
                                <div class="form-group"><button class="btn btn-primary" id="btn-addSpuSaleAttr" type="button">添加销售属性</button></div>
                            </div>
                            <div id="tab-addSaleAttr">
                                <h5 id="head-addSaleAttr">添加销售属性</h5>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width: 13%;padding: 6px;">销售属性id</th>
                                                <th style="width: 10%;padding: 6px;">商品id</th>
                                                <th style="padding: 6px;width: 20%;">销售属性名称</th>
                                                <th style="padding: 6px;">销售属性值</th>
                                                <th style="padding: 6px;width: 15%;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tb-addSaleAttr">
                                            <tr>
                                                <td style="padding: 6px;">Cell 1</td>
                                                <td style="padding: 6px;">Cell 2</td>
                                                <td style="padding: 6px;">颜色</td>
                                                <td style="padding: 6px;" contenteditable="true">Cell 2</td>
                                                <td style="padding: 2px 6px;">
                                                    <div class="btn-group" role="group"><button class="btn btn-info addSaleAttr" type="button">保存</button><button class="btn btn-danger deleteSaleAttr" type="button">删除</button></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><button class="btn btn-success" id="finAddSaleAttr" type="button">完成</button></div>
                        </div>
                    </div>
                    <div class="card shadow" id="editSpuDiv" style="margin: 20px 0px;">
                        <div class="card-body">
                            <div id="editSpuInfo">
                                <h4>编辑SPU</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="padding: 6px;width: 10%;">序号</th>
                                                <th style="padding: 6px;width: 10%;">商品Id</th>
                                                <th style="padding: 6px;width: 20%;">商品名称</th>
                                                <th style="padding: 6px;">商品描述</th>
                                                <th style="padding: 6px;width: 25%;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tab-spnInfo"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="editSpuSaleAttr">
                                <h5 id="head-editSaleAttr">编辑销售属性</h5>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width: 13%;">销售属性id</th>
                                                <th style="width: 10%;">商品id</th>
                                                <th style="padding: 6px;width: 20%;">销售属性名称</th>
                                                <th style="padding: 6px;">销售属性值</th>
                                                <th style="padding: 6px;width: 15%;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="editSaleAttr">
                                            <tr>
                                                <td style="padding: 6px;">Cell 1</td>
                                                <td style="padding: 6px;">Cell 2</td>
                                                <td style="padding: 6px;">颜色</td>
                                                <td style="padding: 6px;" contenteditable="true">Cell 2</td>
                                                <td style="padding: 2px 6px;">
                                                    <div class="btn-group" role="group"><button class="btn btn-info editSaleAttr" type="button">保存</button><button class="btn btn-danger deleteSaleAttr" type="button">删除</button></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><button class="btn btn-success" id="finEditSaleAttr" type="button">完成</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="height: 126px;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Anonyshop 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/jquery.easing.js"></script>
    <script src="assets/js/prod_baseattr.js"></script>
    <script src="assets/js/prod_catalog.js"></script>
    <script src="assets/js/prod_spu.js"></script>
    <script src="assets/js/prodmanage.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>